Node-Red flows.json
[{"id":"adf34cb0.bbd9a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3dcd55.bb2b32ac","type":"ui_form","z":"adf34cb0.bbd9a","name":"","label":"","group":"5da44032.19ea2","order":1,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"BMI","value":"d","type":"number","required":true,"rows":null},{"label":"Under five deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"g","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"h","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"i","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"j","type":"number","required":true,"rows":null},{"label":"Schooling","value":"k","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":""},"payload":"","submit":"Predict","cancel":"Cancel","topic":"","x":70,"y":320,"wires":[["e9a3d516.893638"]]},{"id":"e9a3d516.893638","type":"function","z":"adf34cb0.bbd9a","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\n\nvar apikey = \"DH7lnMKxjrT_tHoA8D1W8dwOoa25mmS-Q8TzdA5JCdTK\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":200,"wires":[["3bd70183.fbb38e"]]},{"id":"3bd70183.fbb38e","type":"http request","z":"adf34cb0.bbd9a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":100,"wires":[["79a52258.e0cf2c"]]},{"id":"20c3dce2.ee8b34","type":"debug","z":"adf34cb0.bbd9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":380,"wires":[]},{"id":"79a52258.e0cf2c","type":"function","z":"adf34cb0.bbd9a","name":"pre prediction","func":"var token = msg.payload.access_token;\nvar instance_id = \"2056c4f7-259c-4481-bc5b-9337f8311ec5\";\nmsg.headers = {\"Content-Type\": \"application/json\",\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\n\nmsg.payload = {\n    \"fields\":['Year', 'Adult Mortality', 'Alcohol', 'BMI', 'Under-five deaths', 'Total expenditure', 'HIV/AIDS', 'Thinness 1-19 years', 'Thinness 5-9 years', 'Income composition of resources', 'Schooling'],\n    \"values\":[[a,b,c,d,e,f,g,h,i,j,k]]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["bd33c66a.961668"]]},{"id":"bd33c66a.961668","type":"http request","z":"adf34cb0.bbd9a","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2056c4f7-259c-4481-bc5b-9337f8311ec5/deployments/5f8b5e13-cdd7-412e-b038-40ea98d83e75/online","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":220,"wires":[["20c3dce2.ee8b34","e376d903.8abe88"]]},{"id":"e376d903.8abe88","type":"function","z":"adf34cb0.bbd9a","name":"retrieving prediction","func":"msg.payload = msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":100,"wires":[["5be077c6.f42158"]]},{"id":"5be077c6.f42158","type":"ui_text","z":"adf34cb0.bbd9a","group":"5da44032.19ea2","order":2,"width":0,"height":0,"name":"prediction","label":"Life Expectancy Prediction: ","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":220,"wires":[]},{"id":"5da44032.19ea2","type":"ui_group","z":"","name":"Default","tab":"1242f4b8.5544fb","order":1,"disp":true,"width":"6","collapse":false},{"id":"1242f4b8.5544fb","type":"ui_tab","z":"","name":"Life Expectancy Prediction with Python","icon":"dashboard","disabled":false,"hidden":false}]